@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue-lightest: #C8D1F1;
    --blue-lightest-trans: #c8d1f17e;
    --blue-middle: #0C1847;
    --blue-dark: #00061C;
    --yellow-lightest: #FFD662;
    --yellow-middle: #AC8D3A;
    --yellow-dark: #1C1500;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}
html{
    background-color: var(--blue-middle);
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30vw;
    background-color: var(--blue-dark);
    padding: 15px;
}

header a {
    text-decoration: none;
    color: var(--blue-lightest);
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

section#apresentacao {
    height: 81vh;
    background-image: url(../imagens/apresentacao.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    padding: 5vw 10vw;
}

section#apresentacao #nome1{
    color: var(--blue-lightest);
    font-size: 1.3em;
    margin-bottom: 20px;
}
section#apresentacao #nome2{
    color: var(--yellow-lightest);
    font-size: 3em;
    margin-bottom: 40px;
}
section#apresentacao #nome3{
    color: var(--blue-lightest);
    margin-bottom: 30px;
}
section#apresentacao #intro{
    color: var(--blue-dark);
    background-color: var(--blue-lightest-trans);
    max-width: 500px;
    padding: 10px 15px;
    border-radius: 15px;
    text-align: justify;
}

div.botoes{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 60px;
    gap: 150px;
}

div.botoes button{
    background-color: var(--yellow-lightest);
    color: var(--yellow-dark);
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
}
div.botoes button:hover{
    background-color: var(--yellow-middle);
}

#resumo{
    height: 80vh;
    padding-top: 100px;
}
section#resumo h3{
    color: var(--yellow-lightest);
    font-size: 2.5em;
    text-align: center;
    padding: 40px 0px;
}

section#resumo #org-resumo{
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 0px;
    margin-top: 70px;
}

#resumo3 {
    display: flex;
    justify-content: center;
    align-items: top;
    background-color: var(--blue-dark);
    padding: 15px;
    border-radius: 30px;
}

section#resumo #resumo1{
    color: var(--blue-lightest);
    max-width: 500px;
    padding-left: 15px;
    padding-right: 10px;
}

#resumo p {
    text-align: justify;
}

#resumo1 p{
    text-indent: 20px;
}

section#resumo #resumo2 {
    height: auto;
    width: 500px;
    background-image: url(../imagens/ilustra.jpg);
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px 0px 0px 15px;
}

section#formacao-idiomas {
    background-image: url(../imagens/meio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 91vh;
    padding-top: 8vw;
    padding-right: 13vw;
}

#formacao-idiomas h3{
    color: var(--yellow-lightest);
    font-size: 2em;
    text-align: center;
}

#formacao h3{
    margin-bottom: 20px;
}

#idiomas h3 {
    margin-top: 150px;
    margin-bottom: 20px;
}

#formacao {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    justify-self: right;
    margin-right: 100px;
}

.formacao1 {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: var(--blue-dark);
    color: var(--blue-lightest);
    padding: 10px 15px;
    border-radius: 15px;
    margin: 20px 0px;
}

.formacao1 p{
    text-align: center;
}

#idiomas {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    justify-self: right;
}

.idiomas1{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: var(--blue-dark);
    color: var(--blue-lightest);
    padding: 10px 15px;
    border-radius: 15px;
    margin: 20px 0px;
}

.idiomas1 p{
    text-align: center;
}

#tecnologias-metodologias{
    padding: 0px 10px;
}

#tecnologias-metodologias h3{
    color: var(--yellow-lightest);
    font-size: 2em;
    text-align: center;
    margin: 150px 0px 100px 0px;
}

#org-tecnologias{
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 20px;
    margin-bottom: 150px;
}

.tecnologias{
    max-width: 400px;
    background-color: var(--blue-dark);
    color: var(--blue-lightest);
    padding: 10px 15px;
    border-radius: 15px;
}

.tecnologias h4{
    color: var(--yellow-lightest);
    text-align: center;
    margin-bottom: 20px;
    padding-top: 10px;
}

.tecnologias p{
    text-indent: 20px;
    text-align: justify;
    line-height: 1.6em;
}

.tecnologias li{
    list-style-position: inside;
    text-align: justify;
    line-height: 1.6em;
}

#cursos{
    background-image: url(../imagens/padrao.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 60px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cursos h3 {
    color: var(--yellow-lightest);
    text-align: center;
    font-size: 2em;
    margin-bottom: 100px;
}

#org-cursos{
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 40px;
}

.cursos1{
    display: flex;
    justify-content: left
}

.cursos1 > p{
    background-color: var(--yellow-middle);
    color: var(--yellow-dark);
    font-weight: bold;
    padding: 20px 15px;
    border-radius: 15px 0px 0px 15px;
}

.cursos2{
    background-color: var(--blue-dark);
    color: var(--blue-lightest);
    width: fit-content;
    padding: 10px 15px;
    border-radius: 0px 15px 15px 0px;
}

#contato{
    padding-top: 100px;
}

#contato h3{
    color: var(--yellow-lightest);
    text-align: center;
    font-size: 2em;
    margin-bottom: 100px;
}

#contato address{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contato > address > a{
    text-decoration: none;
    background-color: var(--blue-dark);
    color: var(--blue-lightest);
    text-align: center;
    padding: 10px 15px;
    border-radius: 15px;
}

#contato > address > a:hover{
    text-decoration: underline;
}

#org-botoes-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

footer{
    background-color: var(--blue-dark);
    color: var(--blue-lightest);
    text-align: center;
    padding: 20px 0px;
}

footer a{
    text-decoration: none;
    color: var(--blue-lightest);
    font-weight: bold;
}
footer a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 720px) {
    header#ingles{
        gap: 10vw;
        padding: 15px;
    }
    
    header a{
        font-size: 0.8em;
    }
    section#apresentacao{
        height: 90vh;
        background-position-x: right -200px;
    }

    section#apresentacao #nome1{
        font-size: 0.9em;
        margin-bottom: 10px;
    }

    section#apresentacao #nome2{
        font-size: 2em;
        margin-bottom: 20px;
    }

    section#apresentacao #nome3{
        font-size: 0.9em;
        margin-bottom: 15px;
    }

    section#apresentacao #intro{
        font-size: 0.8em;
    }
    
    div.botoes{
        margin-top: 30px;
        gap: 50px;
    }

    div.botoes button{
        transform: scale(0.8);
        transform-origin: center;
    }
    
    #resumo{
        height: 100vh;
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    section#resumo h3{
        padding: 20px 0px;
        font-size: 1.75em;
    }

    section#resumo #org-resumo{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    #resumo3 {
        flex-direction: column;
        background-color: var(--blue-dark);
        padding: 15px;
        border-radius: 30px;
    }

    section#resumo #resumo2 {
        height: 200px;
        width: auto;
        border-radius: 15px 15px 0px 0px;
    }

    section#resumo #resumo1{
    color: var(--blue-lightest);
    max-width: 500px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

    #resumo p{
        font-size: 0.8em;
    }
    
    section#formacao-idiomas {
        height: 100vh;
        padding-top: 8vw;
        padding-right: 10px;
        padding-left: 10px;
    }

    #formacao {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        justify-self: center;
        margin-right: 0px;
    }

    #idiomas {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        justify-self: center;
    }

    #formacao-idiomas h3{
        font-size: 1.5em;
        text-align: center;
    }

    .formacao1 p{
        font-size: 0.8em;
    }

    .idiomas1 p{
        font-size: 0.8em;
    }

    #tecnologias-metodologias{
        padding-left: 10px;
        padding-right: 10px;
    }

    #tecnologias-metodologias h3{
        font-size: 1.75em;
        margin: 50px 0px 20px 0px;
    }

    .tecnologias p{
        font-size: 0.8em;
    }

    .tecnologias li{
        font-size: 0.8em;
    }

    #cursos{
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        height: 80vh;
    }

    #cursos h3 {
        font-size: 1.75em;
        margin-bottom: 50px;
    }

    #org-cursos{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

    .cursos1 p{
        font-size: 0.8em;
    }

    #org-tecnologias{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    footer{
        font-size: 0.8em;
    }
}
